.breadcrumbs {
  margin-bottom: 25px;
}

.image {
  display: flex;
  justify-content: center;
  width: 250px !important;
  height: 250px !important;
  margin: 0 auto;
  margin-bottom: 20px;

  @include r($screen) {
    width: 140px !important;
    height: 140px !important;
    margin-bottom: 16px;
  }
}

.about {
  align-items: center;
  margin-bottom: 40px;

  @include r($screen) {
    margin-bottom: 24px;
  }
}

.card {
  width: 50%;
  background-color: white;

  @include r($screen) {
    width: 100%;
  }
}

.cardWrapper {
  display: flex;
  gap: 12px;

  @include r($screen) {
    flex-direction: column;
  }
}