.wrapper {
  margin-top: 20px;
  margin-bottom: 100px;

  &Lesson {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include r($mobile) {
      gap: 12px;
    }
  }

  @include r($mobile) {
    margin-top: 12px;
    margin-bottom: 40px;
  }
}

.block {
  margin-bottom: 100px;

  @include r($mobile) {
    margin-bottom: 40px;
  }
}

.title {
  margin-bottom: 40px;

  @include r($mobile) {
    margin-bottom: 24px;
  }
}