.bannerCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #7001FD;

  @include r($mobile) {
    flex-direction: column;
    align-items: start;
  }

  & .bannerTitle {
    margin-bottom: 12px;
    font-family: var(--font-unbounded), sans-serif;
    font-size: 24px;
    font-weight: 500;

    @include r($mobile) {
      font-size: 18px;
    }
  }
  & .button {
    width: 320px;
    font-weight: 400;
    color: #000;

    @include r($mobile) {
      width: 100%;
      margin-top: 24px;
    }
  }
}