.card {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  min-height: 496px;
  overflow: hidden;
  background-color: #1B1B1B !important;
}

.info {
  position: relative;
  z-index: 10;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 60%;
  height: 100%;
  @include r($mobile) {
    width: 100%;
  }
}

.badges {
  margin-bottom: 16px;
  @include r($mobile) {
    margin-bottom: 12px;
  }
}

.badge {
  background: rgba(255, 255, 255, 0.08);
}

.title {
  margin-bottom: 16px;

  @include r($mobile) {
    margin-bottom: 12px;
  }
}

.description {
  flex: 1 1 auto;
  margin-bottom: 60px;
  line-height: 28px;
  color: #F7F7FA;

  @include r($mobile) {
    margin-bottom: 20px;
  }
}

.time {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  min-width: 232px;
  max-width: 300px;
  padding: 24px 20px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(60px);
  border-radius: 24px;

  span {
    font-family: var(--font-unbounded), serif;
    font-size: 36px;
    font-weight: 500;
    color: #8EFD01;

    @include r($mobile) {
      font-size: 18px;
    }
  }

  @include r($mobile) {
    position: static;
    gap: 4px;
    width: 100%;
    max-width: unset;
    padding: 8px 12px;
    margin-bottom: 16px;
    font-size: 12px;
    border-radius: 12px;
  }
}

.button {
  width: 380px;
  margin-top: auto;

  @include r($mobile) {
    width: 100%;
    font-weight: 400;
  }
}

.image {
  position: absolute;
  right: 40px;
  bottom: 65px;
  width: 350px;
  height: 200px;

  @include r($mobile) {
    display: none;
  }
}

.mobileImage {
  @include r($mobile) {
    width: 200px;
    height: 115px;
    margin-bottom: 20px;
  }
}

.round {
  position: absolute;
  right: 10px;
  bottom: -150px;
  z-index: -1;
  flex-shrink: 0;
  width: 355px;
  height: 355px;
  background: #FFF;
  filter: blur(260px);
  border-radius: 355px;

  @include r($mobile) {
    right: -24px;
    bottom: -84px;
    width: 244px;
    height: 300px;
  }
}