.buttonGroup {
    display: flex;
    gap: 8px;

    @include r($mobile) {
        flex-direction: column;

        &,
        a,
        button {
            width: 100%;
        }
    }
}

.static {
    &,
    a,
    button {
        width: 100%;
    }
}